<!DOCTYPE html>
<html lang='de'>

<head>
  <title>Unsere 1. Webseite</title>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/css/style.css'>
</head>

<body>
  <header>
    <!--<img src="logo.jpg">-->
    <nav class="green-border">
      <ul class="menu">
        <li class="menu-item"><a href='ueber-uns.html'>Über uns |</a></li>
        <li class="menu-item"><a href='css.html'>CSS |</a></li>
        <li class="menu-item"><a href='#'>Todo</a></li>
      </ul>
    </nav>
  </header>

  <h1 class="green-border">Überschrift 1. Ordnung</h1> 

  <section class="bg-dark">
    <article>
      <h2>Lorem Ipsum</h2>
      <p> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    </article>

    <article>
      <h2>Listen</h2>
      <h3>Geordnete Liste</h3>
      <ol>
        <li>Listenelement eins</li>
        <li>Listenelement drei</li>
        <li>Listenelement zwei</li>
      </ol>
      <h3>Ungeordnete Liste</h3>
      <ul>
        <li>Listenelement eins</li>
        <li>Listenelement zwei</li>
        <li>Listenelement drei</li>
      </ul>
    </article>
  </section>

  <section class="bg-bright">
    <article>
      <h2>Bilder</h2>
      <p>Das hier sind Bilder:</p>
      <figure class="no-margin">
        <img src='../static/img/my-image.jpg' width='300' alt="bild in img">
      </figure>
      <figure>
        <img src='img/my-image.jpg' width='300' alt="bild in img">
      </figure>
    </article>
  </section>

  <section>
    <footer>
      <h2>Footer</h2>
      <a href='https://wikipedia.org' target='_blank'>Name des Links</a>
      <a href='ueber-uns.html'>Über uns</a>
    </footer>
  </section>
</body>
</html>












